<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT car ANY>
<!ATTLIST car id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1069" key="467a2d22-d7e4-4ff7-867f-19f59ae90c0e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-08T21:55:24" updateDate="2016-12-08T21:55:24" nodeName="Home" urlName="home" path="-1,1069" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="home">
    <bodyText><![CDATA[<p>BODY TEXT</p>]]></bodyText>
    <pageTitle><![CDATA[page title]]></pageTitle>
  </home>
</root>