<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1053" key="bd203fa1-1e6f-4b7d-99f2-a800d8b2a381" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-04T15:09:31" updateDate="2017-01-06T16:36:42" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="jim yu" writerName="jim yu" writerID="0" template="1051" nodeTypeAlias="home">
    <siteName><![CDATA[Umbraco test site]]></siteName>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <brands><![CDATA[[
  {
    "key": "1",
    "label": "TOYOTA"
  }
]]]></brands>
    <model><![CDATA[[
  {
    "key": "4",
    "label": "CAMERY"
  }
]]]></model>
  </home>
</root>